<section style="padding: 20px;">
<div *ngIf="this.form">
    
    <div class="login-container-item" [formGroup]="form">
        <!-- {{form.value | json}} -->
            <div class="mb-3 mt-3">
              <label class="form-label">Expenses:</label>
              <input type="text" class="form-control" placeholder="Expenses" formControlName="expenses">
            </div>

            <div class="mb-3 mt-3">
              <label class="form-label">Category:</label>
              <input type="text" class="form-control" placeholder="Category" formControlName="category">
            </div>

            <div class="mb-3">
              <label class="form-label">Vendor:</label>
              <input type="text" class="form-control" placeholder="Vendor" formControlName="vendor">
            </div>

            <div class="mb-3">
                <label class="form-label">Amount:</label>
                <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
            </div>

            <div class="mb-3">
                <label class="form-label">Payment Type:</label>
                <select class="form-control" id="country" formControlName="paymentType">
                    <option value=''>--Mode Of Payment--</option>
                    <option *ngFor="let value of paymentType" [ngValue]="value">{{ value }}</option>
                </select>
            </div>

            <div class="mb-3" *ngIf="this.form.value.paymentType == 'Bank Transfer'">
                 <label class="form-label">Mode of Payment</label>
                 <div *ngFor="let mode of this.bankDetails">
                      <h6>{{mode.bankName}}</h6>  

                      <div>
                        <input type="radio" value="debitCard" (click)="setModeOfPayment(mode.id,'debitCard')" name="modeOfPayment">
                          <label for="html">Debit Card / Bank Transfer</label><br>    
                      </div>
                      <div *ngIf="mode?.isHavingUpi" >
                        <input type="radio" value="UPI" (click)="setModeOfPayment(mode.id,'UPI')" name="modeOfPayment">
                          <label for="html">UPI</label><br>    
                      </div>
                      <div *ngIf="mode?.isHavingCreditCard" >
                        <input type="radio" value="creditCard" (click)="setModeOfPayment(mode.id,'creditCard')" name="modeOfPayment">
                          <label for="html">Credit Card</label><br>    
                      </div>

                 </div>   
            </div>    

            <button type="submit" [disabled]="this.form.invalid" class="btn btn-primary" (click)="activeModal.close(this.form.value)">Submit</button>
       </div>
</div>
</section>