<section style="padding: 20px;">
<div *ngIf="this.form">
    
    <div class="login-container-item" [formGroup]="form">
        <!-- {{form.value | json}} -->
            <div class="mb-3 mt-3">
              <label class="form-label">Transfer Date:</label>
              <input type="date"  class="form-control" placeholder="Enter Date" formControlName="date">
            </div>

            <div class="mb-3">
                <label class="form-label">Amount:</label>
                <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
            </div>

            <div class="mb-3">
                <label class="form-label">Transfer From:</label>
                <select class="form-control" formControlName="paymentIdFrom">
                    <option value=''>--Select From Account--</option>
                    <option *ngFor="let value of transferFrom" [ngValue]="value">{{ value.Name }}</option>
                </select>
            </div>

            <div class="mb-3" *ngIf="form.get('paymentIdFrom')?.value">
              <label class="form-label">Transfer To:</label>
              <select class="form-control" formControlName="paymentIdTo">
                  <option value=''>--Select To Account--</option>
                  <option *ngFor="let value of transferTo" [ngValue]="value">{{ value.Name }}</option>
              </select>
          </div>

            <button type="submit" [disabled]="this.form.invalid" class="btn btn-primary" (click)="activeModal.close(this.form.value)">Submit</button>
       </div>
</div>
</section>