<ng-container>
    User Details
    <div>{{this.userDetails | json}}</div>
</ng-container>
<ng-container>
    Bank Details
    <div>{{this.bankDetails | json}}</div>
</ng-container>
<ng-container>
    Cash In Hand
    <div>{{this.cashInHand | json}}</div>
</ng-container>

<button (click)="AddExpences()">
    Add Expences
</button>
<button (click)="selfTransfer()">
    Self Transfer
</button>


{{this.linkedAccountBefore | json}}

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
			<th scope="col">Expenses</th>
			<th scope="col">Category</th>
			<th scope="col">Vendor</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let transaction of transactions; index as i">
			<th scope="row">{{ i + 1 }}</th>
            <td>{{ transaction.date  | date: 'dd/MM/yyyy' }}</td>
            <td>{{ transaction?.additionalProp1?.operation }}</td>
			<td>{{ transaction?.additionalProp1?.expenses }}</td>
			<td>{{ transaction?.additionalProp1?.category }}</td>
            <td>{{ transaction?.additionalProp1?.vendor }}</td>
            <td>{{ transaction?.additionalProp1?.amount }}</td>  
            <td *ngFor="let accDetails of transaction.linkedAccountAfter">
                {{accDetails.BankName || accDetails.type}} => 
                {{accDetails.Balance}}
            </td>     
		</tr>
	</tbody>
</table>