
<input
            type="text"
            class="form-control bg-light"
            placeholder="Filter borrower(s) by task Name, Address, MobileNo#"
            (keyup)="onKeySearch($event)"
/>

{{(totalTask$ | async)}}
<table class="table">
    <thead>      
      <tr>  
        <th width="10%" scope="col" sortable="borrowerId" >Id</th>
        <th width="10%" scope="col" sortable="firstName" >Name</th>
        <th width="10%" scope="col" sortable="displayValue">Address</th>
        <th width="10%" scope="col" sortable="mobileNo">Mobile No</th>
        <!-- (sort)="onSort($event)" -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of tasks1$ | async; let i = index;">
        <!-- <ngb-highlight [result]="loan.borrowerId" [term]="ticketTab?.searchTerm"></ngb-highlight> -->
        <td> {{loan.borrowerId}} </td>
        <td  (click)="routeToPage(loan.borrowerId)"> {{loan.firstName}} {{loan.lastname}}</td>
        <td> {{loan.displayValue}} </td>
        <td> {{loan.mobileNo}} </td>
      </tr>
    </tbody>
    
  </table>